body, html {
    background-color: bisque;
    margin: 0;
}
#skills{
    background-image: url("author.jpg");
    background-position: center;
    background-attachment: local;
    background-size: 100%;
    margin-top: 12px;
}
#skills h1{
    text-align: center;
    color:rgba(0, 0, 0, 0.7);
    margin-top: 40px;
    overflow-y: hidden;
}
/* #skills h1:hover {
    color: whitesmoke;
    border-top-right-radius: 20em;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0;
} */
#skills p {
    display: none;
}
#skills h1:hover + p {
    margin: 0;
    padding: 1em 1em;
    background-color: rgba(0, 0, 0, 1);
    display: block;
    color: darkmagenta;
}
#skills h1:hover + p + h1 {
    display: none;
}

